.service img {
  width: 100%;
  margin: auto;
  margin-top: 1px;
  margin-bottom: 5px;
}
.service {
  background-color: rgb(240, 234, 234);
  margin: 30px 30px;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .service {
    margin: 10px 10px;
  }
}
.button-link {
  text-decoration: none;
  padding: 20px;
  color: black;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.btn button {
  border-radius: 10px;
  background-color: lightskyblue;
}
